# Default ignored files
/shelf/


#ignore all .spec files
/.idea/GUI.iml
/build
/build/calibrationBot
dist/calibrationBot.exe
/dist
/dist/img/

*.spec
macList.txt
setup.ini

/dist/*.exe

**/__pycache__